<header assets>
    <link href="tabulator/css/tabulator_site.min.css" rel="stylesheet">
    <script type="text/javascript" src="tabulator/js/tabulator.min.js"></script>
</header assets>

<content>
        <h2>
          <span id="sectionHeading">Starting Up ...</span>
          <button id="close-details">Close</button>
        </h2>

        <h3 id="customer-heading">Customers</h3>
        <div id="customer-table"></div>

        <h3 id="accounts-heading">Accounts</h3>
        <div id="accounts-table"></div>

        <h3 id="contact-heading">Contact Details</h3>
        <div id="contact-table"></div>

        <h3 id="transactions-heading">Transactions</h3>
        <div id="transactions-table"></div>
</content>

<post-load scripts>
    <script type="text/javascript" src="table.js"></script>
</post-load scripts>
