:root {
  --height-header: 60px;
  --height-footer: 40px;
  --width-nav: 250px;
  --colour-foreground: #404040;
  --colour-background: #e0e4e7;
  --colour-background2: #d1e0de;
  --colour-highlight: #20b2aa;
  --colour-highlight2: #008b8b;
}

body {
    margin: 0;
}

.admin {
    display: grid;
    height: 100vh;

    grid-template-rows: var(--height-header) 1fr var(--height-footer);
    grid-template-columns: var(--width-nav) 1fr;
    grid-template-areas: "header header"
                         "nav main"
                         "footer footer";
}

.admin > header {
    grid-area: header;
    background: var(--colour-highlight2);
    color: var(--colour-background);
    padding: 16px;
}

header > h1 {
    margin: 0;
}

.nav {
    grid-area: nav;
    background: var(--colour-foreground);
    color: var(--colour-background);
    padding: 16px;
}

.nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav > ul > li {
    display: block;
    border-color: var(--colour-background2);
    border-width: 0 0 1px 0;
    border-style: solid;
    padding: 0 0 16px 0;
    margin: 0 0 16px 0;
}

.nav > ul > li > a {
    color: var(--colour-background);
    text-decoration: none;
}

.nav > ul > li > a:hover {
    color: var(--colour-highlight);
    text-decoration: underline;
}

.content {
    grid-area: main;
    background: var(--colour-background);
    color: var(--colour-foreground);
    padding: 16px;
}

.content > h2 {
    margin: 0 0 16px 0;
}

footer {
    grid-area: footer;
    background: var(--colour-highlight2);
    color: var(--colour-background);
}

.tabulator {
    max-width: 800px;
}

.tabulator-cell > button, #close-details {
    background: var(--colour-highlight);
    foreground: var(--colour-foreground);
    border: 1px solid var(--colour-foreground);
    width: 60px;
    height: 20px;
    box-shadow: 0 0 0 transparent;
    text-shadow: 0 0 0 transparent;
    cursor: pointer;
}

.tabulator-cell > button:hover {
    background: var(--colour-highlight2);
}
